/*----------------------------Général----------------------------*/
a {
	text-decoration: none;
	color: black;
}

button:hover {
    cursor: pointer;
}

/*----------------------------Fenêtre de paramètres de couleur-------------------------*/
#colorSettings {
	display: none;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: 1;
}

#colorSettingsContainer {
	position: absolute;
	background-color: white;
	width: fit-content;
	padding: 10px;
}

#topBanner {
	border-bottom: 2px solid black;
	cursor: grab;
}

/*---------------------------- Choix Thèmes prédéfinis ----------------------------*/
#midButtonsContainer {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.color-selection-button {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 100%;
    border: 5px solid #000000;
    transition: 0.3s;
}

.color-selection-button:hover {
    border: 4px solid #616161;
}

.default {
    background-color: white;
}

.dark {
    background-color: black;
}

.contrast {
    background-color: rgb(238, 255, 88);
}

.blue {
    background-color: blue;
}

/*---------------------------- Thèmes Prédéfinis ----------------------------*/
/*Thème par défaut ----------------------------*/
.default-theme-sidePanels {
    background: #444444;
}

.default-theme-midMessage {
    background-color: #3d3d3d;
}

.default-theme-messageLeft {
    background-color: #917a7a;
}

.default-theme-messageRight {
    background-color: #88979b;
}

.default-theme-mid {
    background-color: white;
}

/*Thème sombre ----------------------------*/
.dark-theme-sidePanels {
    background-color: black;
}

.dark-theme-midMessage {
    background-color: #2b2b2b;
}

.dark-theme-messageLeft {
    background-color: #c9c9c9;
}

.dark-theme-messageRight {
    background-color: #9b9b9b;
}

.dark-theme-mid {
    background-color: #5f5f5f;
}

/*Thème high-contrast ----------------------------*/
.contrast-theme-sidePanels {
    background-color: #000000;
    border: 3px solid white;
}

.contrast-theme-midMessage {
    background-color: #000000;
    border: 4px solid white;
}

.contrast-theme-messageLeft {
    background-color: #000000;
    color: white;
    border: 3px solid rgb(19, 239, 255);
}

.contrast-theme-messageRight {
    background-color: #000000;
    color: white;
    border: 3px solid rgb(247, 222, 0);
}

.contrast-theme-mid {
    border: 3px white;
    background-color: black;
}

/*Thème bleu ----------------------------*/
.blue-theme-sidePanels {
    background: rgb(32, 32, 92);
}

.blue-theme-midMessage {
    background: rgb(19, 19, 124);
}

.blue-theme-mid {
    background: rgba(44, 44, 255, 0.37);
}

.blue-theme-messageLeft {
    background-color: #1972f8;
}

.blue-theme-messageRight {
    background-color: #5856f1;
}

/*Thème personnalisable ----------------------------*/
.personnalisable-theme-sidePanels {
    background: #444444;
}

.personnalisable-theme-midMessage {
    background-color: #3d3d3d;
}

.personnalisable-theme-messageLeft {
    background-color: #917a7a;
}

.personnalisable-theme-messageRight {
    background-color: #88979b;
}

.personnalisable-theme-mid {
    background-color: white;
}

/*---------------------------- Thèmes Personnalisés ----------------------------*/
/*Sélection des éléments ----------------------------*/

/*Sélection des choses à modifier ----------------------------*/
.element-color-selection-container {
    display: none;
}

/*Sélection de la couleur ----------------------------*/
.color-selection-container {
    display: none;
}

/*----------------------------Positionnements---------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Barre du haut */
header {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Conteneur principal */
main {
    display: flex;
    flex: 1;
}

/* Barre de gauche */
.left-container {
    color: white;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenu principal */
.mid-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh; /* Peut être problématique */
    min-height: 0; /* Important pour le scroll */
}

/* Barre de droite */
.right-container {
    color: white;
    width: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Barre du bas */
footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/*----------------------------Gauche Bouton----------------------------*/
.open-left-button-container {
    position: absolute;
}

#openLeftContainer {
    display: none;
}

.close-button-container {
    gap: 5px;
    position:relative;
    width: 100%;
	color: inherit;
}

.close-button-container button {
	color: inherit;
    margin-right: 5px;
    float: right;
    background-color: #33333300;
    border: none;
    font-size: 25px;
}


/*----------------------------Gauche Contacts positionnements----------------------------*/
.left-contacts-container {
    width: 100%;
    flex-grow: 10;
    text-align: center;
    overflow-y: auto;
    max-height: 87.5%;
	color: inherit;
}

.left-contact-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #44444400;
    color: inherit;
    text-decoration: none;
    padding: 8px;
}

.left-contact-link img {
    border-radius: 100%;
    width: 35px;
    height: auto;
}

.left-contact-link:hover {
    background: #ffffff36;
}

/*----------------------------Gauche Raccourcis positionnements----------------------------*/
.left-shortcuts-container {
    flex-grow: 1;
    background-color: #7979797e;
    margin: 0% 2%;
    border-radius: 3.5%;
	display: flex;
}

.left-profile-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap : 20px;
}

.left-shortcuts-container img {
    border-radius: 100%;
    width: 25%;
    height: auto;
}

/*-----------------------Gauche Paramètres--------------------------*/
.left-settings-container {
	display: flex;
	flex-direction: column;
}

#colorButton {
	width: 45px;
	height: 45px;
	background-image: url("../images/liens/paint.png");
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

#colorButton:hover {
	border: 2px solid black;
	border-radius: 10%;
}


/*----------------------------Milieu----------------------------*/

/*----------------------------Milieu Top----------------------------*/
.mid-top-container {
    display: none;
	color: inherit;
}

/*----------------------------Milieu Contact Profil----------------------------*/
.mid-top-container a {
	color: inherit;
}

.mid-top-contact-container {
    flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 5%;
	color: inherit;
}

.mid-top-contact-container img {
	width: 7%;
	height: auto;
	border-radius: 100%;
}

.mid-top-contact-container p {
	font-size: 200%;
}

/*----------------------------Milieu Top Shortcuts----------------------------*/
.mid-top-shortcuts-container {
    flex-grow: 1;
}

/*----------------------------Milieu Messages----------------------------*/
.mid-messages-container {
    padding: 1%;
    overflow-y: auto;
    height: 80%;
    max-height: 80%;  
    min-height: 0; 
    display: none;
}

.message-container {
    min-height: 0;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 0;
    display: flex; /*Problème de direction des messages*/
}

.message-container * {
    max-width: 45%;
    padding: 5px;
    border-radius: 5px;
}

.left {
    justify-content: left;
    left: 0;
}

.left * {
    width: fit-content;
}

.right {
    justify-content: right;
    right: 0;
}

.right * {
    width: fit-content;
}

/*----------------------------Milieu Envoi de messages----------------------------*/
.mid-message-sender {
    margin-top: 1%;
    background: rgb(180, 180, 180);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    gap: 10px;
    display: none;
}

.mid-form-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#message { /*Textarea*/
    width: 90%;
    height: 55px;
    color: rgb(43, 39, 39);
    padding: 10px;
    border-color: transparent;
    font-size: 20px;
    outline: none;
    resize: none;
    background-color: transparent;
}

#send-message {
    height: 33%;
    padding: 10px 15px;
}

/*----------------------------Droite Paramètres----------------------------*/
/*Bouton droite--------------------------------------------*/
.open-right-button-container {
    position: absolute;
    right: 0;
}

#openRightContainer {
    display: none;
}

/*Ajouter un nouveau contact via son identifiant----------------------------*/
.right-add-contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-form-container {
    width: 100%;
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.right-form-container input {
    width: 60%;
    outline: none;
}

#usernameNewContact {
    display: none;
}

#addContactError {
    display: none;
    color: red;
}

#sendContactRequest {
    display: none;
}

#stopContactRequest {
    display: none;
}

.right-add-contact img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    display: none;
}


/*Accepter une demande de contact----------------------------*/
.accept-contact-container {
    flex-grow: 1;
    overflow-y: scroll;
}

.right-request-container {
    display: flex;
}

.right-request-container img {
    width: 15%;
}
